html, body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    margin: 20px;
    white-space: normal;
}

.main-image {
    width: 500px;
    height: 680px;
    margin-right: 25px;
    box-shadow: 0px 2px 4px lightgrey; 
}

.page-head {
    font-weight: lighter;
    margin-bottom: 0;
}

.width {
    width: 400px; /* Adjust width according to your image size */
 
}

.image2 {
    width: 120px;
}

.top {
    color: #565959; /* Corrected property name */
}

.page-author {
    margin-top: 15px;
}

.page-author a {
    color: #89CFF0;
}

right-full-content {
    overflow: hidden;
    width: 100%; /* Ensure it stretches to fill available space */
    
}